@use "../../abstracts/" as _;

button, .button {
    padding: 0 1rem;
    border-top: 2px solid _.$prim-accent-400;
    border-bottom: 2px solid _.$prim-accent-400;
        border-radius: 40px 10px 40px 10px;
    cursor: pointer;
    font-weight: 300;
}