@use "../abstracts/variables" as *;
@use "../abstracts/placeholders" as phs;
@use "../abstracts/mixins";

html {
    overflow-y:auto;
}

h1, h2, h3, h4 {
    @extend %heading-base;
}

h1 {
   @extend %heading-box;
    font-size:2.4rem;
    margin-top:17px;
    margin-bottom:auto;

    @include mixins.responsive("handheld") {
        font-size: 2rem;
        margin-top: 0;
    }
}

h2 {
    @extend %heading-box;
    font-size: 2rem;

    @include mixins.responsive("handheld") {
        font-size: 1.6rem;
    }
}

h3 {
    font-size: 1.8rem;
    border-bottom: 2px solid $pbgc;

    @include mixins.responsive("handheld") {
        font-size: 1.4rem;
    }
}

h4 {
    font-size:1.4rem;

    @include mixins.responsive("handheld") {
        font-size: 1rem;
    }
}

label {
    display: block;
    font-size: $sftnts;

    @include mixins.responsive("handheld") {
        font-size: $msftnts;
    }
}

input {
    margin-right: $spd;

    &[type="text"], &[type="date"] {
        @extend %rounded;

        padding: $spd;
        border: 1px solid $itc;
        width: 150px;

        &:focus {
            filter: brightness(.98);
            border: 1px solid black;
        }
    }
}

form {
    & > * {
        display: inline-block;
    }
}

select {
    @extend %rounded;

    background-color: white;
    padding: $spd;
}