@use "../abstracts/variables" as *;
@use "../abstracts/placeholders" as phs;
@use "../abstracts/mixins";

html {
    overflow-y:auto;
    color: $text-dark;
}

body {
    background-color: #5371e9;
}

a {
    color: $text-dark;
}

strong {
    color: $text-light;
    text-shadow: 2px 2px black,
    3px 3px $text-strong,
    4.25px 4.25px $prim-accent-400;
    font-weight: 800;
}

h1 {
    font-size: $xxlfnt;
}
h2 {
    font-size: $xlfnt;
}
h3 {
    font-size: $lfnt;
}
h4 {
    font-size: $mfnt;
}
h5 {
    font-size: $sfnt;
}
